input {
    width: 0px;
    height: 0px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
	float:left;
    overflow: hidden;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 0px;
}


.fp i {
	border: #0488C3;
	background-color: #0488C3;
	color: white;
	cursor: pointer;
	font-size: 2.5em;
}

.fp i.fa-location-arrow {
	background-color: rgb(137, 96, 158);
}

.fp i.fa-location-arrow {
	background-color: #5cb85c;
}

body.lg .modal-dialog, body.md .modal-dialog {
	margin-top: 10%;
}

.modal-title {
	color:black;
}

.modal-content {
	border-radius: 0;
	font-family: Calibri, "Calibri", Calibri, sans-serif; 
}

.modal-content button {
	border-radius: 0;
	outline-width: 0;
}

.modal-body.filterMenu .container .row {
	background-color: #BEC9D2;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.5;
	margin-top: 5px;
	cursor: pointer;
}
.modal-body .container .row.active {
	background-color: #0488C3;
	opacity: 1.0;
}

.modal-body h4 {
	/*padding-top: 5px;*/
	text-align: left;
}

.modal-body i.fa-times {
	color: white;
	cursor: pointer;
}

.row.template-filter {
	display: none;
}

.modal-body.filt {
	padding-bottom: 80px;
}

.modal-body form {
	margin-top: 10px;
	display: block;
}

.modal-body .notice span.link {
	text-decoration: underline;
	font-family: Calibri, "Calibri", Calibri, sans-serif; 
	color:inherit;
	font-size: inherit;
	line-height: inherit;
	margin-top: inherit;
	margin-left: inherit;
	cursor: pointer;
}

body.xs .modal-body .topitem {
	margin-bottom: 50px;
}

.modal-body.filt .notice {
	display: none;
	margin-bottom: -70px;
}

.filter-notify {
	margin-top: 20px;
}

.filter-notify span {
	display: none;
	padding: 3px 0px;
	border-radius: 3px;
}

.filter-notify h4 {
	line-height: 30px;
}

.filter-notify span.class-section {
	background-color: #0488C3;
}
.filter-notify span.loc-section {
	background-color: rgb(137, 96, 158);
}
.filter-notify span.text-section {
	background-color: #5cb85c;
}

.modal-body.newStr .btn {
	margin-top: 10px;
}

.modal-body.newStr span.user-entry {
	font-weight: bold;
	text-decoration: underline;
	color:white;
	background-color: #0488C3;
	border-radius: 3px;
	padding: 2px 5px;
}

.filterIcons > div {
	text-align: center;
}