body.body {
	background-color: rgb(255, 255, 255);
}

.bottom-bar {
	height: 55px;
	background-color: rgb(235, 235, 235);
}

div.row.body {
	height: 100%;
	width: 100%;
	margin-bottom: -55px;
	position: relative;
}

@media (max-width: 767px)
{
	.bottom-bar {
		height: 165px;
		text-align: center;
	}
	.social {
		float: left;
		width: 100%;
		text-align: center;
	}
	.title-img {
		float:right;
		margin-left: 0;
		margin-right: -20px;
	}
	.access-links {
		font-size: 1.3em;
		margin-top: 15px;
	}
	.row .page-links a {
		font-size: 1.1em;
	}
	.screengrab {
		margin-top: 0;
	}
}

.footer-content {
	color: rgb(200, 200, 200);
	margin-top: 15px;
	font-size: 1.0em;
}

.footer-content.links a {
	color: rgb(200, 200, 200);
}

.icons {
	font-size: 2.0em;
	margin-top: 0px;
}

.footer-content i:hover {
	color: #0488C3;
}

.page-links {
	margin-top: 70px;
}

.page-links a {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
}

.signup-button {
	margin-top: 30px; 
	margin-bottom: 20px;
}

.signup-button button {
	height: 55px;
	font-size: 2em;
}

.screengrab {
	margin-top: 30px;
}

.title-img {
	margin-top: 5px;
	height:40px;
	width:120px;
	margin-left:-5%;
}

.section {
	display: none;
}