.dividerish {
	margin: 0 auto;
	height: 300px;
	width: 8px;
	background-color: #FFC107;
	display: block;
}

body.log {
	background: transparent;
}

html { 
  background: url("bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.well {
	background-color: rgba(245,245,245,0.8);
}

input, button {
	background-color: rgba(245,245,245,1);
}

footer {
	background-color: #333;
	color: #aaa;
	margin-top: 50px;
	padding-top: 20px; 
	/*font-family: 'Open Sans', Arial, sans-serif;*/
}

footer h3, footer a, footer a:visited {
	color: #ccc;
}

footer a:hover, footer a:focus {
	color: #aaa;
}

footer h3, p {
	font-family: Calibri, "Calibri", Calibri, sans-serif;
}

#greeting {
	color:#ccc;
}

#signerup .profileSelect img {
	z-index: 5;
}

#signerup .profileSelect:hover {
	-webkit-box-shadow: 0px 0px 20px 2px white inset;
	-moz-box-shadow: 0px 0px 20px 2px white inset;
	box-shadow: 0px 0px 20px 2px white inset;
}

#signerup .profileSelect.selected {
	z-index: 0;
	background-color: white;
	opacity: .5;
}