 .container
 {
 	width:100%;
 	height:100%;
 }

 body {
  font-family: Calibri, "Calibri", Calibri, sans-serif;
  background-color: #56ACDB;
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  overflow-x:hidden;
}
#this-is-the-navbar{
  height:50px;
  background-color: #00A2EA;
  position:fixed;
  z-index: 3;
}

.blue-bar {
	display: block;
	height: 30px;
	background-color: #3385FF;
	margin-top: 20px;
}

#createpost .well {
	border-radius: initial;
}

#logo{
	height:90%;
	margin-top:3px;
}

#actions{
	float:right;
	margin-top: 15px;
}
.container {
    width: 100%;
  }

#sidebar{
background-color: #AFD1F7;
position:fixed;
top:0;
bottom:0;
padding:0;
margin-left: 1px;
margin-top: 50px;
overflow-y: scroll;
overflow-x:hidden;
}

#bob{
	margin:0;
}

#feedholder{
	padding:0;
}

#user-photo{
	width:90%;
	border-radius:50%;
	padding:0;
	margin:5%;
	margin-top:3%;
	margin-bottom:0;
}

#empty{
	height:15px;
}

h1{
	color:white;
	font-size:2em;
	text-align: center;
	padding:0;
	margin:0;
	margin-bottom: 7px;
}

h2{
	color:white;
	font-size:1.7em;
	text-align: center;
	padding:0;
	padding-top: 3px;
	margin:0;
	margin-bottom: 7px;
}

h3{
	color:white;
	font-size:1.3em;
	text-align:center;
	padding:0;
	margin:0;
}

h4{
	font-size: 1.3em;
  font-weight: bold;
  text-align: left;
  padding: 0;
  margin: 0;
  color: rgb(0, 162, 234);
}

h4:hover{
	font-size:1.3em;
	font-weight: bold;
	text-align: left;
	padding:0;
	margin:0;
	z-index:1;
}


h5{
	font-size:1.4em;
	font-weight: normal;
	text-align:left;
	padding:0;
	margin:0;
}

h6{
	font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  color: rgb(0, 162, 234);
}

h6:hover{
	font-size:1.3em;
	font-weight: bold;
	text-align: center;
	padding:0;
	margin:0;
	z-index:1;
}
h7{
	color:gray;
	margin:5px;
}

.filtered{
	z-index:3;
	 display: block;
	font-size:1.32em;
	font-weight: bold;
	padding:0;
	margin:0;
	color:white;
	height:2em;
	background-color: rgba(255, 255, 255, 0.29);
	background-position: 95%;
	background-size: 1.2em 1.2em;
	padding-top: .3em;
	padding-left: 5%;
}

.gone{
	display:none;
}

#active-posts{
	padding:0;
}

#active{
	width:60%;
	height:1.8em;
	padding:0;
	margin:20%;
	margin-top:0px;
	margin-bottom: 8px;
	padding-top: 3px;
	text-align: center;
	background-color: #00A2EA;
}

#active:hover{
	background-color: #0488C3;	
}

#add{
	width:100%;
	background-color: #00A2EA;
}


#add:hover{
	background-color: rgba(255, 255, 255, 0.29);
	color:white;

}

.filter{
	color:#0488C3;
	height:23px;
}
.filter:hover{
	color:#ffffff;
}

#postfeed{
	margin:0;
	float:right;
}

#content{
	padding:0;
	float:right;
	margin-top: 50px;
	z-index: 1;
	margin-left: -1px;
}

.post{
	margin-left:auto;
	margin-right: auto;
	width:60%;
	background-color: white;
	-webkit-box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
-moz-box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
margin-bottom: 45px;
}

.post:hover{
	-webkit-box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);
-moz-box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);
box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);	
}

#postDetails{
	padding:0;
	text-align:left;
	padding-left: 14px;
	margin-top: 5px;
}

#lowerDetails{
	padding:0;
	text-align:left;
	padding-left: 14px;
	margin-bottom: 5px;
}

#title{
	padding-top: 15px;
	padding-bottom:10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #AFD1F7;
}

#posttext{
	font-weight: normal;
	padding:20px;
	padding-bottom: 10px;
}



.showall{
	background-image: none;
}

.showall:hover{
	background-image: none;
	background-color: rgba(255, 255, 255, 0.29);
}

.template-post {
	display: none;
}

#createpost input.full {
	height: 50px;
	width: 100%;
	font-size: 2.0em;
	display: block;
}

#createpost .flat {
	outline: none;
	background-color: #f5f5f5;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

#createpost textarea.full {
	height: 100px;
	width: 100%;
	font-size: 1.7em;
	resize: none;
}

#createpost .minimized .toggle {
	display: none;
}

#createpost .expanded .untoggle {
	display: none;
}

#createpost hr {
	border-top: 1px solid #A9A;
}

label {
    display: block;
	font-size:1.32em;
	font-weight: bold;
	text-align:center;
	padding:0;
	margin:0;
	color:white;
	height:2em;
	padding-top: .3em;
	padding-left: 5%;
	background-position: 95%;
	background-size: 1.2em 1.2em;
}
label:hover{
	background-image: none;
	background-color: rgba(255, 255, 255, 0.29);
}

input {
    width: 0px;
    height: 0px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
	float:left;
    *overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}
 

}