@font-face {
    font-family: Freestyle;
    src: url("../fonts/FREESCPT.TTF");
}




span{
	font-family: Freestyle, "Freestyle", Freestyle, serif; 
	color:white; 
	font-size:45px; 
	line-height:45px; 
	margin-top:10px; 
	margin-left:8px;
}

 .container
 {
 	width:100%;
 	height:100%;
 }

 body {
  font-family: Calibri, "Calibri", Calibri, sans-serif;
  background-color: #56ACDB;
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
  overflow-x:hidden;
}
#this-is-the-navbar{
  height:50px;
  /*background-color: #00A2EA;*/ background-color: #0488C3;
  position:fixed;
  z-index: 3;
  width:100%;
}

.blue-bar {
	display: block;
	height: 30px;
	background-color: #AFD1F7;
	margin-top: 20px;
	color: white;
}

.blue-bar.wide {
	padding-top: 10px;
	height: 50px;
}

#createpost .well,
#newFilterModal .well {
	border-radius: initial;
	background-color: #white;
}

#logo{
	height:90%;
	margin-top:3px;
}
#dropdown{
	float:left;
	width:50px;
	height:50px;
	background-image: url("../assets/navlines.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	padding:10px;
	background-position: center;
	margin-right: 12px;
}

#actions{
	float:right;
	margin-top: 15px;
}
.container {
    width: 100%;
  }

#sidebar{
background-color: #56ACDB;
position:fixed;
top:0;
bottom:0;
padding:0;
margin-left: 1px;
margin-top: 50px;
overflow-y: scroll;
overflow-x:hidden;
border-right-style: dashed;
border-width: 1px;
border-color: #AFD1F7;
}

#bob{
	margin:0;
}

#feedholder{
	padding:0;
}

#user-photo{
	width:90%;
	border-radius:50%;
	padding:0;
	margin:5%;
	margin-top:3%;
	margin-bottom:0;
}

#empty{
	height:15px;
	margin-bottom: 8px;
}

h1{
	color:white;
	font-size:2em;
	text-align: center;
	padding:0;
	margin:0;
	margin-bottom: 7px;
}

h2{
	color:white;
	font-size:1.7em;
	text-align: center;
	padding:0;
	padding-top: 3px;
	margin:0;
	margin-bottom: 7px;
}

h3{
	color:white;
	font-size:1.3em;
	text-align:center;
	padding:0;
	margin:0;
}

h4{
	font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}


h5{
	font-size:1.4em;
	font-weight: normal;
	text-align:left;
	padding:0;
	margin:0;
}

h6{
	font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

h6:hover{
	font-size:1.3em;
	font-weight: bold;
	text-align: center;
	padding:0;
	margin:0;
	z-index:1;
}
h7{
	color:gray;
	margin:5px;
}

.filtered{
	display: block;
	font-size:1.32em;
	font-weight: bold;
	text-align:center;
	padding:0;
	margin:0;
	color:white;
	height:2em;
	padding-top: .3em;
	background-image: none;
	background-color: rgba(255, 255, 255, 0.29);
}
.filtered:hover {
	background-color: initial;
}

.filter-class span {
	font-size: .7em;
	color:rgb(4, 136, 195);
	margin-left: 0;
	margin-right: 10px;
	margin-top: 0;
	display: none;
}

.filter-class div:hover span {
	display: initial;
}

.gone{
	display:none;
}

#active-posts{
	padding:0;
}

#active-posts .row div.active-post{
	width:60%;
	height:1.8em;
	padding:0;
	margin:20%;
	margin-top:0px;
	margin-bottom: 8px;
	padding-top: 3px;
	text-align: center;
	background-color: #0488C3;
	cursor: pointer;
}

#active-posts .row div.active-post:hover{
	background-color: #AFD1F7;	
}

#new-filter{
	width:100%;
	background-color: #0488C3;
	height: 2.4em;
	font-size: 1.32em;
	padding:0px;
	cursor: pointer;
}

#new-filter:hover{
	background-color: rgba(255, 255, 255, 0.29);
	color:white;

}

#new-filter span {
	font-size: 1em;
}

.filter{
	color:#0488C3;
	height:23px;
}
.filter:hover{
	color:#ffffff;
}

#postfeed{
	margin:0;
	float:right;
	width: 100%;
}

#content{
	padding:0;
	float:right;
	margin-top: 50px;
	z-index: 1;
	margin-left: -1px;
}

.post{
	margin-left:auto;
	margin-right: auto;
	width:60%;
	background-color: white;
	-webkit-box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
-moz-box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
box-shadow: 3px 3px 8px -1px rgba(87,70,87,1);
margin-bottom: 45px;
}

.post:hover{
	-webkit-box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);
-moz-box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);
box-shadow: 3px 3px 8px -3px rgba(87,70,87,0.75);	
}

#postDetails{
	padding:0;
	text-align:left;
	padding-left: 14px;
	margin-top: 5px;
}

#lowerDetails{
	padding:0;
	text-align:left;
	padding-left: 14px;
	margin-bottom: 5px;
}

#title{
	padding-top: 15px;
	padding-bottom:10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #AFD1F7;
}

#posttext{
	font-weight: normal;
	padding:30px;
	padding-bottom: 10px;
}



.showall{
	background-image: none;
}

.showall:hover{
	background-image: none;
	background-color: rgba(255, 255, 255, 0.29);
}

.template-post {
	display: none;
}

#createpost input.full,
#newFilterModal input.full {
	height: 50px;
	width: 100%;
	font-size: 2.0em;
	display: block;
}

#createpost .flat, 
#newFilterModal .flat {
	outline: none;
	background-color: #white;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.well{
	background-color: white;
}
#createpost textarea.full {
	height: 100px;
	width: 100%;
	font-size: 1.7em;
	resize: none;
	background-color: #white;
}

#createpost .minimized .toggle {
	display: none;
}

#createpost .expanded .untoggle {
	display: none;
}

#createpost hr {
	border-top: 1px solid #A9A;
}

#createpost button {
	margin-top: 20px;
}

div.postInput input {
	font-size: 1.2em;
}

.add-filter {
	font-size: 1.2em;
	cursor: pointer;
}

.veil {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  z-index: 0;
}

.veil.active {
  opacity: 0.7;
  z-index: 100;
}

#newFilterModal {
	display: none;
	position: fixed;
	top: 20%;
	z-index: 101;
}

#newFilterModal input.add {
	height: 2em;
	font-size: 1.4em;
	resize: none;
	background-color: #white;
	margin-top: 2px;
}

#newFilterModal .well {
	padding-top: 0;
	padding-bottom: 0;
}
#newFilterModal .btn {
	height: 100%;
	margin-top: 3px;
}

label, .filter-class div, 
div.showall {
    display: block;
	font-size:1.32em;
	font-weight: bold;
	text-align:center;
	padding:0;
	margin:0;
	color:white;
	height:2em;
	padding-top: .3em;
	cursor: pointer;
}
label:hover, .filter-class > div:hover{
	background-image: none;
	background-color: #AFD1F7;
}

input {
    width: 0px;
    height: 0px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
	float:left;
    overflow: hidden;
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 0px;
}
 

/* MOBILE CSS */
@media (max-width: 767px) {
   
.post{
	width:90%;
}

#dropdown{
	float:right;	
}

#actions{
	display:none;
}

#user-photo{
	width:50%;
	margin-left: 25%;
}

}