@media (max-width: 992px) {
		/*
 * Globals
 */
.container{
	width: 100%;
}
 
body {
  font-family: Calibri, "Calibri", Calibri, sans-serif;
  color: #555;
  padding: 0;
  margin: 0;
  overflow: scroll;
  background-image: url("triangles.png");
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Calibri, "Calibri", Calibri, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

#navbar{
	background-color: #eae9e9;
	margin-top: 11.3em;
	height: 11.3em;
	position: fixed;
	z-index:2;
	-webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey);

}

#body{

}


/*
 * Masthead for nav
 */

 #logo-white{
 
 height: 80px;
 
 }
 
 .col-sm-12, #titletext{
	text-align: center;
 }
 
 
 #search{
	background-color: #689f38;
	width: 90%;
	margin-left: 0%;
	height: 57px;
	border: 0px solid black;
	vertical-align: center;
	border-radius: 10px;
	display: inline-block;
	color: white;
	text-align:left;
	font-size:45px;
	outline: none;
	line-height: 1;
	padding-top: 5px;
	padding-left: 15px;
}
 
.blog-masthead {
  background-color: #8bc34a;
  height: 1.5em;
  width: 100%;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
	display: table;
	position: fixed;
	z-index: 3;
	color: white;
	font-family: Calibri;
	font-size: 4em;
	padding-left:10px;
	text-shadow: 2px 2px rgba(0,0,0,.1);
}
 
/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: white;
  opacity: .7;
  box-shadow: 1px 1px 1px #cccccc;
  width: 80%;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  position: inline;
  z-index: 1;
  border-radius: 4px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 3.75em;
  font-weight: normal;
}
.blog-description {
  font-size: 1.25em;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*
 * Blog posts
 */
 
 #postfeed{
	overflow: auto;
	margin-top: 20em;
 }

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  width: 80%;
  height: 30px;
  margin-left: 16.6%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

}

input:focus::-webkit-input-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus::-moz-placeholder {color:transparent;}
input:focus::-ms-input-placeholder {color:transparent;}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #dcedc8;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #dcedc8;
   opacity:  1;
   text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #dcedc8;
   opacity:  1;
   text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #dcedc8;
   text-align: center;
}

}