body{
	overflow-x:hidden;
}
.top-bar{
	margin-bottom:80px;
}
.introtext{
	text-align: center;
	margin-top:80px;
}
h1{
	font-size:50px;
}
.photos{
	margin-top:50px;
	padding-right:20px; 
}
img.team {
    border-radius: 50%;
    max-width:200px;
    max-height:200px;
}
.block{
	text-align:center;
	margin-bottom:10px;
	height:370px;
	font-size: 1.2em;
}
p{
	padding-left:40px;
	padding-right:40px;
}
.description{
	font-weight: bold;
	margin-top:5px;
}
.footer{
	width:120%;
}