.w-subtitle {
	color:white;
	font-size:3em;
}

.w-title {
	text-align:left;
	font-size:4em;
	color:white;
}

.center-me {
	margin-top:15%;
}

.w-text {
	color:white;
	font-size: 2em;
}

.w-text-2 {
	font-size: 1.5em;
	color:white;
}

.w-white {
	color: white
}

.skipTutorial h2,
button.back h2 {
	color: black;
}

.section {
	display: none;
}

.w-center {
	margin:0 auto;
}

.w-filter {
	background-color: #0488C3;
}

.w-inactive {
	font-weight: bold;
	text-decoration: underline;
	color:white;
	background-color: #BEC9D2;
	border-radius: 3px;
	padding: 2px 5px;
}

#notify-error {
	color: white;
	font-size: 1.2em;
	display: none;
}

@media (max-width: 500px){
	.access-links a {
		font-size: 0.8em
	}
}